/*Styles génériques */
header{
  background: #006A5C url(../images/logo_blanc.png) no-repeat;
  background-position: 8px 8px;
  color: #FFFFFF;
  text-align : right;
  height: 60px;
  padding-right: 8px;
  padding-top: 10px;
}

body{
  font-family:"Uni Sans";
}

@font-face {
    font-family: 'Uni Sans';
    src: url('Uni Sans Thin.ttf');
}


ul ul {display: none;}

ul:hover ul {display:block;}

.menu{
  width:100px;
  position: absolute;
  right: 25px;
  border-right: 2px solid #006A5C;
  border-bottom: 2px solid #006A5C;
  padding: 0px 7px 7px 7px;
}

.menu_contenu{
  padding : 30px 7px 7px 7px;
}

ul{
 list-style-type:none;
}

ul a{
   text-decoration:none;
   color : #006A5C;
   font-weight: bold;
}

.contenu{
  margin-top: 25px;
  right : 150px;
  left : 150px;
  padding : 25px;
  position : absolute;
  border: 2px solid #006A5C;

}

div{
  color : #737373;
  font-weight: bold;
}

/*Style list_annonces.html */
.card {
  background: #FFFFFF;
  border: 1px solid green;
  border-bottom: 3px solid darkgreen;
  padding: 10px;
  margin: 15px;
  overflow: hidden;
}

h1 {
  margin: 15px;
  color: darkgreen;
  font-weight: bold;
}

button {
  display: block;
  margin: auto;
  padding: 5px;
}
