<div ng-app="modelFinderApp">
  <div ng-controller="StudentCtrl">
    <h1 class="titre">Créer un compte étudiant</h1>
    <form ng-submit="checkPwd(password, passwordConf)"  class="card css-form">
      <p>Nom:
        <input type="text" ng-model="lastName" required>
      </p>
      <p> Prenom:
        <input type="text" ng-model="firstName" required>
      </p>
      <p> Mail:
        <input type="email" ng-model="mail" required>
      </p>
      <p> Mot de Passe:
        <input type="password" ng-model="password" required>
      </p>
      <p> Confirmation de Mot de Passe:
        <input type="password" ng-model="passwordConf" required>
      </p>
        <label id="confMdp" style="color:#FF0000">{{confirmationMdp}}</label>
      <p>
        Date de naissance:
        <input type="date" ng-model="birthDate" required>
      </p>
      <input class="button" type="submit" id="submit" value="Valider">
    </form>
  </div>
</div>
