<div ng-app="modelFinderApp">
  <div ng-controller="ModelCtrl">
    <h1 class="titre">Créer un compte modèle</h1>
    <div class="card" ng-init="getSexes()">
    <form  class="css-form">
      <p>Nom:
        <input type="text" ng-model="lastName" required>
      </p>
      <p> Prenom:
        <input type="text" ng-model="name" required>
      </p>
      <p> Mail:
        <input type="email" ng-model="mail" required>
      </p>
      <p> Mot de Passe:
        <input type="password" ng-model="password" required>
      </p>
      <p> Confirmation de Mot de Passe:
        <input type="password" ng-model="passwordConf" required>
      </p>
        <label id="confMdp" style="color:#FF0000">{{confirmationMdp}}</label>
      <p>
        Date de naissance:
        <input type="date" ng-model="dateOfBirth" required>
      </p>
      <p> Sexe:
        <select ng-model="sexe" required>
          <option data-ng-repeat="sexe in sexes" value="{{sexe}}">{{sexe}}</option>
        </select>
      </p>
      <p> Telephone:
        <input type="tel" ng-model="phoneNumber" required>
      </p>
      <p data-ng-init="getSkinToneEnum()">
        Carnation de peau :
        <select ng-model="skinToneModel" required>
          <option value=""></option>
          <option data-ng-repeat="skinTone in skinToneEnum" value="{{skinTone}}">{{skinTone}}</option>
        </select><br>
      </p>
      <p>
        Couleur cheveux :
        <input type="text" ng-model="hairColor" required>
      </p>
      <p data-ng-init="getLengthHairEnum()">
        Longueur des cheveux :
        <select ng-model="lengthHairModel" required>
          <option value=""></option>
          <option data-ng-repeat="length in lengthHairEnum" value="{{length}}">{{length}}</option>
        </select><br>
      </p>
      <p data-ng-init="getEyeColorEnum()">
        Couleur des yeux :
        <select ng-model="eyeColorModel" required>
          <option value=""></option>
          <option data-ng-repeat="eyeColor in eyeColorEnum" value="{{eyeColor}}">{{eyeColor}}</option>
        </select><br>
      </p>
      <p>
        Taille :
        <input type="number" min="0" ng-model="height" required> cm
      </p>
      <p>
        Pointure :
        <input type="number" min="0" ng-model="shoeSize" required>
      </p>
      <p>
        Taille haut :
        <input type="number" min="0" ng-model="highHeight" required>
      </p>
      <p>
        Taille bas :
        <input type="number" min="0" ng-model="lowHeight" required>
      </p>
      <p>
        Description :
        <input type="text" ng-model="description">
      </p>
      <p>
        Commentaire :
        <input type="text" ng-model="comment">
      </p>
    Photos :
    <table class="demo">
	   <thead>
	   <tr>
		  <th>Photo 1</th>
		  <th>Photo 2</th>
		  <th>Photo 3</th>
	   </tr>
	   </thead>
	   <tbody>
	   <tr>
		  <td><input id="file0" type="file" style="display: none;" class="col-sm-4"/>
                <button class="input_file" value="Browse..." onclick="document.getElementById('file0').click();">Browse ...
                </button>
           </td>
		  <td><input id="file1" type="file" style="display: none;" class="col-sm-4"/>
                <button class="input_file" value="Browse..." onclick="document.getElementById('file1').click();">Browse ...
                </button>
          </td>
		  <td><input id="file2" type="file" style="display: none;" class="col-sm-4"/>
                <button class="input_file" value="Browse..." onclick="document.getElementById('file2').click();">Browse ...
          </button></td>
	   </tr>
	   <tr>
		  <td><div><img id="img0" ng-model="img0" text-align="center" width="100%" height="100%"/></div></td>
		  <td><div><img id="img1" ng-model="img1" text-align="center" width="100%" height="100%"/></div></td>
		  <td><div><img id="img2" ng-model="img2" text-align="center"width="100%" height="100%"/></div></td>
	   </tr>
	   </tbody>
    </table>
      <br>
      <input class="button" type="submit" ng-click="checkPwd(password, passwordConf)" value="Valider">
    </form>
    <p class="center">{{messageCreation}}</p>
    </div>
  </div>
</div>
