<div ng-app="modelFinderApp">
  <div ng-controller="DetailAnnonceCtrl">

    <h1>Détails de l'annonce</h1>
    <div class="card">
        ID : {{id}} - Statut : {{status}}<br>
        Postée par l'etudiant : <a ng-href='/#/students/{{etudiant.idStudent}}/show'>{{etudiant.firstName}} {{etudiant.lastName}}</a><br>
        Accessoires :<br>
        <ul class="listeAPuce">
          <li data-ng-repeat="accessorie in accessories" ng-if="accessorie != null">{{accessorie}}</li>
        </ul>
        Titre : {{ titre }}<br>
        Date début : {{ date_debut }}<br>
        Date fin : {{ date_fin }}<br>
        Catégorie prestation : {{ categorie_prestation }}<br>
        Thème prestation : {{ theme_prestation }}<br>
        Carnation de peau : {{carnation_peau}}<br>
        Couleur des yeux : {{couleur_yeux}}<br>
        Couleur de cheveux : {{couleur_cheveux}}<br>
        Longueur de cheveux : {{longueur_cheveux}}<br>
        Taille modèle min : {{taille_min}}<br>
        Taille modèle max : {{taille_max}}<br>
        Commentaire : {{commentaire}}<br>
    </div>
     <div class='row' ng-if="status=='Active'">
        <button class="button" ng-click="go('/services/'+id+'/edit')">Editer annonce</button><br>
        <button class="button" ng-click="go('/services/'+id+'/suggestions')">Voir les suggestions de modèles</button><br>
        <button class="button" ng-click="go('/services/'+id+'/applications/new')">Postuler</button><br>
        <button class="button" type="submit" ng-click="updateStatus(id,'Inactive')">Désactiver l'annonce</button><br>
    </div>
    <div class='row' ng-if="status=='Inactive'">
        <button class="button" type="submit" ng-click="updateStatus(id,'Active')">Activer l'annonce</button><br>
    </div>
  </div>
</div>
