<div ng-app="modelFinderApp">
  <div ng-controller="DetailModelCtrl">

    <h1>Détails du modèle</h1>
    <div class="card">
        Nom : {{lastName}} {{name}}<br/>
        Mail : {{mail}}<br/>
        Age : {{calculerAge(dateOfBirth)}}<br/>
        Sexe : {{gender}}<br/>
        <!--{{phoneNumber}}<br/>--!>
        Couleur de la peau : {{skinTone}}<br/>
        Couleur des cheveux : {{hairColor}}<br/>
        Couleur des yeux : {{eyeColor}}<br/>
        Longueur des cheveux : {{lengthHair}}<br/>
        Taille : {{height}}<br/>
        Pointure : {{shoeSize}}<br/>
        Taille haut : {{highHeight}}<br/>
        Taille bas : {{lowHeight}}<br/>
        Description : {{description}}<br/>
        Commentaire : {{comment}}<br/>
    </div>
    </div>
</div>
