<div ng-app="modelFinderApp">
  <div ng-controller="ReponseCtrl" ng-init="getAllReponse()">

    <h1 class="titre">Suivre ses annonces</h1>
    <div class="card">
      <label>Id du modele : <input ng-model="search.model.id"></label> <br>
      <label>Prénom du modele : <input ng-model="search.model.name"></label> <br>
      <label>Nom du modele : <input ng-model="search.model.lastName"></label> <br>

    </div>

    <div class="card" ng-repeat="reponse in reponses | filter:search:strict">
      {{reponse.annonce.title}} <br>
      Modele : {{reponse.model.name}}  {{reponse.model.lastName}}<br>
      Statut : {{reponse.statut}}<br>
      <div ng-if="reponse.statusAccessory1">
        Accessoire 1 :  {{reponse.statusAccessory1}} <br>
      </div>
      <div ng-if="reponse.statusAccessory2">
        Accessoire 2 :  {{reponse.statusAccessory2}} <br>
      </div>
      <div ng-if="reponse.statusAccessory3">
        Accessoire 3 :  {{reponse.statusAccessory3}} <br>
      </div>
      <div ng-if="reponse.statusAccessory4">
        Accessoire 4 :  {{reponse.statusAccessory4}} <br>
      </div>
      <div ng-if="reponse.statusAccessory4">
       Accessoire 5 :  {{reponse.statusAccessory5}} <br>
      </div>
    </div>
  </div>
</div>
