<div ng-app="modelFinderApp">
  <div ng-controller="ReponseCtrl" ng-init="getAllReponse()">

    <h1 class="titre">Suivre ses annonces</h1>
    <div class="card">
      <label>Id de l'étudiant : <input ng-model="search.annonce.student.idStudent"></label> <br>
      <label>Prénom de l'étudiant : <input ng-model="search.annonce.student.firstName"></label> <br>
      <label>Nom de l'étudiant : <input ng-model="search.annonce.student.lastName"></label> <br>
    </div>

    <div class="card" ng-repeat="reponse in reponses | filter:search:strict">
      <a ng-href='/#/detailAnnonce/{{reponse.annonce.id}}'>{{reponse.annonce.title}}</a> <br>
      Modele : {{reponse.model.name}}  {{reponse.model.lastName}}<br>
      Statut : {{reponse.statut}}<br>
      <div ng-if="reponse.statusAccessory1">
        Accessoire 1 :  {{reponse.statusAccessory1}} <br>
      </div>
      <div ng-if="reponse.statusAccessory2">
        Accessoire 2 :  {{reponse.statusAccessory2}} <br>
      </div>
      <div ng-if="reponse.statusAccessory3">
        Accessoire 3 :  {{reponse.statusAccessory3}} <br>
      </div>
      <div ng-if="reponse.statusAccessory4">
        Accessoire 4 :  {{reponse.statusAccessory4}} <br>
      </div>
      <div ng-if="reponse.statusAccessory4">
       Accessoire 5 :  {{reponse.statusAccessory5}} <br>
      </div>
      <div class='row' ng-if="reponse.statut=='En attente'">
      <div class='col-md-6'><input class="button floatRight" type="submit" ng-click="updateStatus(reponse.id,'Validée')" value="Valider"></div>

      <div class='col-md-6 '><input class="button floatLeft" type="submit" ng-click="updateStatus(reponse.id,'Refusée')" value="Refuser"></div>
      </div>
    </div>
  </div>
</div>
