<div ng-app="modelFinderApp">
  <div ng-controller="ReponseCtrl" ng-init="getMyResponses()">

    <h1 class="titre">Suivre ses propositions</h1>
    <div class="card" ng-repeat="reponse in reponses | filter:search:strict">
    <div ng-repeat="groupeAccessoires in accessoires">
    <div ng-if="reponse.annonce.accessoriesId==groupeAccessoires.idAccessories">
      <a ng-href='/#/services/{{reponse.annonce.id}}/show'>{{reponse.annonce.title}}</a> <br>
      Modele : <a ng-href='/#/models/{{reponse.model.id}}/show'>{{reponse.model.name}} {{reponse.model.lastName}}</a><br>
      Statut : {{reponse.statut}}<br>
      <div ng-if="groupeAccessoires.accessory1">
        {{groupeAccessoires.accessory1}} :  {{reponse.statusAccessory1}} <br>
      </div>
      <div ng-if="groupeAccessoires.accessory2">
        {{groupeAccessoires.accessory2}} :  {{reponse.statusAccessory2}} <br>
      </div>
      <div ng-if="groupeAccessoires.accessory3">
        {{groupeAccessoires.accessory3}} :  {{reponse.statusAccessory3}} <br>
      </div>
      <div ng-if="groupeAccessoires.accessory4">
        {{groupeAccessoires.accessory4}} :  {{reponse.statusAccessory4}} <br>
      </div>
      <div ng-if="groupeAccessoires.accessory5">
       {{groupeAccessoires.accessory5}} :  {{reponse.statusAccessory5}} <br>
      </div>
      <div ng-if="reponse.comment">
        Commentaire : {{reponse.comment}} <br>
      </div>
      <div class='row' ng-if="reponse.statut=='En attente'">
            <div class='col-md-6'><input class="button floatRight" type="submit" ng-click="deleteReponse(reponse.id)" value="Supprimer"></div>

            <div class='col-md-6 '><button class="button floatLeft" ng-click="go('/proposals/'+reponse.id+'/edit')">Modifier</button></div>
      </div>
      <div ng-if="reponse.statut!='En attente'">
        <input class="button" type="submit" ng-click="deleteReponse(reponse.id)" value="Supprimer">
       </div>
    </div>
  </div>
</div>
