<div ng-app="modelFinderApp">
  <div ng-controller="ReponseCtrl" ng-init="getModelResponses()">

    <h1 class="titre">Suivre ses propositions</h1>
    <div ng-if="reponses.length==0" class="center">
      Vous n'avez postulé à aucune annonce.
    </div>
    <div class="card" ng-repeat="reponse in reponses | filter:search:strict | orderBy:'statutOrder'">
    <div ng-repeat="groupeAccessoires in accessoires">
    <div ng-if="reponse.annonce.accessoriesId==groupeAccessoires.idAccessories">
      <a ng-href='/#/services/{{reponse.annonce.id}}/show'>{{reponse.annonce.title}}</a> <br>
      Statut : {{reponse.statut}}<br>
      <div ng-if="groupeAccessoires.accessory1">
        {{groupeAccessoires.accessory1}} :
        <span ng-if="reponse.statusAccessory1 == 'Ko'">
          <img src="images/delete_button.png" title="Vous n'avez pas cet accessoire" height="15"/>
        </span>
        <span ng-if="reponse.statusAccessory1 == 'Ok'">
           <img src="images/logo_valider.png" title="Vous possédez cet accessoire" height="15"/>
        </span><br>
      </div>
      <div ng-if="groupeAccessoires.accessory2">
        {{groupeAccessoires.accessory2}} :
        <span ng-if="reponse.statusAccessory2 == 'Ko'">
          <img src="images/delete_button.png" title="Vous n'avez pas cet accessoire" height="15"/>
        </span>
        <span ng-if="reponse.statusAccessory2 == 'Ok'">
           <img src="images/logo_valider.png" title="Vous possédez cet accessoire" height="15"/>
        </span><br>
      </div>
      <div ng-if="groupeAccessoires.accessory3">
        {{groupeAccessoires.accessory3}} :
        <span ng-if="reponse.statusAccessory3 == 'Ko'">
          <img src="images/delete_button.png" title="Vous n'avez pas cet accessoire" height="15"/>
        </span>
        <span ng-if="reponse.statusAccessory3 == 'Ok'">
           <img src="images/logo_valider.png" title="Vous possédez cet accessoire" height="15"/>
        </span><br>
      </div>
      <div ng-if="groupeAccessoires.accessory4">
        {{groupeAccessoires.accessory4}} :
        <span ng-if="reponse.statusAccessory4 == 'Ko'">
          <img src="images/delete_button.png" title="Vous n'avez pas cet accessoire" height="15"/>
        </span>
        <span ng-if="reponse.statusAccessory4 == 'Ok'">
           <img src="images/logo_valider.png" title="Vous possédez cet accessoire" height="15"/>
        </span><br>
      </div>
      <div ng-if="groupeAccessoires.accessory5">
        {{groupeAccessoires.accessory5}} :
        <span ng-if="reponse.statusAccessory5 == 'Ko'">
          <img src="images/delete_button.png" title="Vous n'avez pas cet accessoire" height="15"/>
        </span>
        <span ng-if="reponse.statusAccessory5 == 'Ok'">
           <img src="images/logo_valider.png" title="Vous possédez cet accessoire" height="15"/>
        </span><br>
      </div>
      <div ng-if="reponse.comment">
        Commentaire : {{reponse.comment}} <br>
      </div>
      <div class='row' ng-if="reponse.statut=='En attente'">
            <div class='col-md-6'><input class="button floatRight" type="submit" ng-click="deleteReponseByModel(reponse.id)" value="Supprimer"></div>

            <div class='col-md-6 '><button class="button floatLeft" ng-click="go('/proposals/'+reponse.id+'/edit')">Modifier</button></div>
      </div>
      <div ng-if="reponse.statut!='En attente'">
        <input class="button" type="submit" ng-click="deleteReponseByModel(reponse.id)" value="Supprimer">
       </div>
    </div>
  </div>
</div>
</div>
</div>
