<div ng-app="modelFinderApp">
  <div ng-controller="AnnonceCtrl">
    <style>
      .card {
        background: #FFFFFF;
        border: 1px solid green;
        border-bottom: 3px solid darkgreen;
        padding: 10px;
        margin: 15px;
        overflow: hidden;
      }

      h1 {
        margin: 15px;
        color: darkgreen;
        font-weight: bold;
      }

      button {
        display: block;
        margin: auto;
        padding: 5px;
      }
    </style>
    <h1>Liste des annonces</h1>
    <div class="card" ng-repeat="annonce in message">
      {{ annonce.titre }}<br>
      Date début : {{ annonce.date_debut }}<br>
      Date fin : {{ annonce.date_fin }}<br>
      Catégorie prestation : {{ annonce.categorie_prestation }}<br>
      Thème prestation : {{ annonce.theme_prestation }}<br>
      <button ng-click="go('/student')">Voir les détails</button>
    </div>
  </div>
</div>

<!--<table style="width:100%">-->
<!--<tr align="center">-->
<!--<td>Id</td>-->
<!--<td>Titre</td>-->
<!--<td>Date début</td>-->
<!--<td>Date fin</td>-->
<!--<td>Catégorie prestation</td>-->
<!--<td>Thème prestation</td>-->
<!--<td>Détails</td>-->
<!--</tr>-->
<!--<tr align="center">-->
<!--<td>{{ annonce.id }}</td>-->
<!--<td>{{ annonce.titre }}</td>-->
<!--<td>{{ annonce.date_debut }}</td>-->
<!--<td>{{ annonce.date_fin }}</td>-->
<!--<td>{{ annonce.categorie_prestation }}</td>-->
<!--<td>{{ annonce.theme_prestation }}</td>-->
<!--<td><a href="index.html">Détails de l'annonce</a></td>-->
<!--</tr>-->
<!--</table>-->

<!--<table border="1" style="width:100%">-->
<!--<tr align="center">-->
<!--<td>Id</td>-->
<!--<td>Titre</td>-->
<!--<td>Date début</td>-->
<!--<td>Date fin</td>-->
<!--<td>Catégorie prestation</td>-->
<!--<td>Thème prestation</td>-->
<!--<td>Détails</td>-->
<!--</tr>-->
<!--<tr align="center" ng-repeat="annonce in message">-->
<!--<td>{{ annonce.id }}</td>-->
<!--<td>{{ annonce.titre }}</td>-->
<!--<td>{{ annonce.date_debut }}</td>-->
<!--<td>{{ annonce.date_fin }}</td>-->
<!--<td>{{ annonce.categorie_prestation }}</td>-->
<!--<td>{{ annonce.theme_prestation }}</td>-->
<!--<td><a href="index.html">Détails de l'annonce</a></td>-->
<!--</tr>-->
<!--</table>-->
