<div ng-app="modelFinderApp">
  <div ng-controller="StudentCtrl" ng-init="getAllStudents()">
    <h1 class="titre">Liste des étudiants</h1>
    <div class="card">
      <label>Prénom : <input ng-model="search.firstName"></label> <br>
      <label>Nom : <input ng-model="search.lastName"></label> <br>
      <label>Adresse mail : <input ng-model="search.mail"></label> <br>
    </div>
    <div class="card" ng-repeat="student in students | filter:search:strict">
        {{student.firstName}} {{student.lastName}}<br>
        Adresse mail : {{student.mail}}
        
        <div ng-if="!student.isValidated">
          Etat : Compte en attente de validation<br><br>
          <div class='row'>
          <div class='col-md-6'> <button class="button floatRight" ng-click="go('/students/'+student.id+'/show')">Voir les détails</button></div>
          <div class='col-md-6'> <button class="button floatLeft" type="submit" ng-click="enableStudent(student.id)">Activer l'étudiant</button></div>
          </div>
        </div>

        <div ng-if="student.isValidated">
          Etat : Compte validé<br><br>
          <div class='row'>
          <div class='col-md-4'><button class="button floatRight" ng-click="go('/students/'+student.id+'/show')">Voir les détails</button></div>
          <div class='col-md-4'><button class="button" type="submit" ng-click="go('/students/'+student.id+'/edit')">Editer l'étudiant</button></div>
          <div class='col-md-4'><button class="button floatLeft" type="submit" ng-click="deleteStudent(student.id)">Supprimer l'étudiant</button></div>
          </div>
        </div>
       
      </div>
  </div>
</div>
