<div ng-app="modelFinderApp">
  <div ng-controller="AnnonceCtrl" ng-init="getAllAnnonces()">

    <!--message = [{title:'Annonce 1', dateBegin:'23/01/1994', dateEnd:'24/01/1994', categoryService:'Shooting beauté', themeService:'Photo', lengthHair:'Courts', skinTone:'Claire'},-->
    <!--{title:'Annonce 2', dateBegin:'03/01/1994', dateEnd:'24/01/1994', categoryService:'Shooting beauté', themeService:'Painting', lengthHair:'Courts', skinTone:'Moyenne'},-->
    <!--{title:'Annonce 3', dateBegin:'12/04/1994', dateEnd:'24/01/1994', categoryService:'Body-painting', themeService:'Photo', lengthHair:'Longs', skinTone:'Foncée'}]-->

    <h1 class="titre">Liste des annonces</h1>
    <div class="card">
      <label>Date : <input ng-model="search.dateBegin"></label> <br>
      <label data-ng-init="getCategoriesEnum()">Catégorie prestation :
          <select ng-model="search.categoryService">
            <option value=""></option>
            <option data-ng-repeat="categorie in categoriesEnum" value="{{categorie}}">{{categorie}}</option>
          </select>
        </p>
      </label> <br>
      <label data-ng-init="getLengthHairEnum()">Longueur des cheveux :
        <select ng-model="search.lengthHair">
        <option value=""></option>
        <option data-ng-repeat="length in lengthHairEnum" value="{{length}}">{{length}}</option>
        </select>
      </label> <br>
      <label data-ng-init="getSkinToneEnum()">Carnation de la peau :
        <select ng-model="search.skinTone">
          <option value=""></option>
          <option data-ng-repeat="skinTone in skinToneEnum" value="{{skinTone}}">{{skinTone}}</option>
        </select>
      </label>
    </div>
    <div class='row card' ng-repeat="annonce in annoncesActives | filter:search:strict">
        {{ annonce.title }}<br>
        Date début : {{ annonce.dateBegin }}<br>
        Date fin : {{ annonce.dateEnd }}<br>
        Catégorie prestation : {{ annonce.categoryService }}<br>
        Thème prestation : {{ annonce.themeService }}<br>
        <button class="button" ng-click="go('/services/'+annonce.id+'/show')">Voir les détails</button>
    </div>
    <h1 class="titre" ng-if="!annoncesInactives">Annonces Inactives</h1>
    <div class='row card' ng-repeat="annonce in annoncesInactives | filter:search:strict">
        {{annonce.status}}
        {{ annonce.title }}<br>
        Date début : {{ annonce.dateBegin }}<br>
        Date fin : {{ annonce.dateEnd }}<br>
        Catégorie prestation : {{ annonce.categoryService }}<br>
        Thème prestation : {{ annonce.themeService }}<br>
        <button class="button" ng-click="go('/services/'+annonce.id+'/show')">Voir les détails</button>
    </div>
  </div>
</div>
