<div ng-app="modelFinderApp">
  <div ng-controller="AnnonceCtrl" ng-init="getAllAnnonces()">

    <!--message = [{title:'Annonce 1', dateBegin:'23/01/1994', dateEnd:'24/01/1994', categoryService:'Shooting beauté', themeService:'Photo', lengthHair:'Courts', skinTone:'Claire'},-->
    <!--{title:'Annonce 2', dateBegin:'03/01/1994', dateEnd:'24/01/1994', categoryService:'Shooting beauté', themeService:'Painting', lengthHair:'Courts', skinTone:'Moyenne'},-->
    <!--{title:'Annonce 3', dateBegin:'12/04/1994', dateEnd:'24/01/1994', categoryService:'Body-painting', themeService:'Photo', lengthHair:'Longs', skinTone:'Foncée'}]-->

    <h1 class="titre">Liste des annonces</h1>
    <div class="card">
      <label>Date : <input ng-model="search.dateBegin"></label> <br>
      <label>Catégorie prestation :
        <select ng-model="search.categoryService">
          <option></option>
          <option>Shooting mode</option>
          <option>Shooting beauté</option>
          <option>Shooting SFX</option>
          <option>Body-painting</option>
          <option>Face-painting</option>
        </select>
      </label> <br>
      <label>Longueur des cheveux :
        <select ng-model="search.lengthHair">
          <option></option>
          <option>Courts</option>
          <option>Mi-Longs</option>
          <option>Longs</option>
        </select>
      </label> <br>
      <label>Carnation de la peau :
        <select ng-model="search.skinTone">
          <option></option>
          <option>Claire</option>
          <option>Moyenne</option>
          <option>Foncée</option>
        </select>
      </label>
    </div>
    <div class="card" ng-repeat="annonce in message | filter:search:strict">
      {{ annonce.title }}<br>
      Date début : {{ annonce.dateBegin }}<br>
      Date fin : {{ annonce.dateEnd }}<br>
      Catégorie prestation : {{ annonce.categoryService }}<br>
      Thème prestation : {{ annonce.themeService }}<br>
      <button class="button" ng-click="go('/detail_annonce/'+annonce.id)">Voir les détails</button>
    </div>
  </div>
</div>
