<div ng-app="modelFinderApp">
  <div ng-controller="AnnonceCtrl" ng-init="message = [{title:'Annonce 1', dateBegin:'23/01/1994', dateEnd:'24/01/1994', categoryService:'Shooting beauté', themeService:'Photo'},
  {title:'Annonce 2', dateBegin:'03/01/1994', dateEnd:'24/01/1994', categoryService:'Shooting beauté', themeService:'Painting'},
  {title:'Annonce 3', dateBegin:'12/04/1994', dateEnd:'24/01/1994', categoryService:'Body-painting', themeService:'Photo'}]
  ">

    <!--getAllAnnonces()-->


    <h1>Liste des annonces</h1> <br>
    <div class="card">
      <label>Catégorie prestation :
        <select ng-model="search.categoryService">
          <option></option>
          <option>Shooting mode</option>
          <option>Shooting beauté</option>
          <option>Shooting SFX</option>
          <option>Body-painting</option>
          <option>Face-painting</option>
        </select>
      </label> <br>
      <label>Date : <input ng-model="search.dateBegin"></label> <br>
      <label>Thème prestation : <input ng-model="search.themeService"></label>
    </div>
    <div class="card" ng-repeat="annonce in message | filter:search:strict">
      {{ annonce.title }}<br>
      Date début : {{ annonce.dateBegin }}<br>
      Date fin : {{ annonce.dateEnd }}<br>
      Catégorie prestation : {{ annonce.categoryService }}<br>
      Thème prestation : {{ annonce.themeService }}<br>
      <button ng-click="go('/student')">Voir les détails</button>
    </div>
  </div>
</div>
