<div ng-app="modelFinderApp">
  <div ng-controller="DetailModelCtrl">

    <h1 class="titre">Editer son profil</h1>
    <form class="card css-form">
    <p> Mail:
        {{user.mail}}
      </p>
      <p>Nom:
        <input type="text" ng-model="model.lastName" required>
      </p>
      <p> Prenom:
        <input type="text" ng-model="model.name" required>
      </p>
      <p>
        Date de naissance:
        <input type="date" ng-model="model.dateOfBirth" required>
      </p>
      <p> Sexe:
        <select ng-model="sexe">
          <option data-ng-repeat="sexe in sexes" value="{{sexe}}">{{sexe}}</option>
        </select>
      </p>    
      <p> Telephone:
        <input type="tel" ng-model="model.phoneNumber" required>
      </p>    
      <p data-ng-init="getSkinToneEnum()">
        Carnation de peau :
        <select ng-model="model.skinTone">
          <option value=""></option>
          <option data-ng-repeat="skinTone in skinToneEnum" value="{{skinTone}}">{{skinTone}}</option>
        </select><br>
      </p>  
      <p>
        Couleur cheveux :
        <input type="text" ng-model="model.hairColor" required>
      </p>
      <p data-ng-init="getLengthHairEnum()">
        Longueur des cheveux :
        <select ng-model="model.lengthHair">
          <option value=""></option>
          <option data-ng-repeat="length in lengthHairEnum" value="{{length}}">{{length}}</option>
        </select><br>
      </p>
      <p data-ng-init="getEyeColorEnum()">
        Couleur des yeux :
        <select ng-model="model.eyeColor">
          <option value=""></option>
          <option data-ng-repeat="eyeColor in eyeColorEnum" value="{{eyeColor}}">{{eyeColor}}</option>
        </select><br>
      </p>
      <p>
        Taille :
        <input type="number" min="0" ng-model="model.height" required>
      </p>
      <p>
        Pointure :
        <input type="number" min="0" ng-model="model.shoeSize" required>
      </p>
      <p>
        Taille haut :
        <input type="number" min="0" ng-model="model.highHeight" required>
      </p>
      <p>
        Taille bas :
        <input type="number" min="0" ng-model="model.lowHeight" required>
      </p>
      <p>
        Description :
        <input type="text" ng-model="model.description">
      </p>
      <p>
        Commentaire :
        <input type="text" ng-model="model.comment">
      </p>
      <p> Mot de Passe:
        <input type="password" ng-model="password">
      </p>
      <p> Confirmation de Mot de Passe:
        <input type="password" ng-model="passwordConf"> {{passwordError}}
      </p>
        Photos :  
    <table class="demo">
	   <thead>
	   <tr>
		  <th>Photo 1</th>
		  <th>Photo 2</th>
		  <th>Photo 3</th>
	   </tr>
	   </thead>
	   <tbody>
	   <tr>
		  <td><input id="file0" type="file" style="display: none;" class="col-sm-4"/>
                <button class="input_file" value="Browse..." onclick="document.getElementById('file0').click();">Browse ...
                </button>
                <button value="Delete" ng-click="myReset(0)">Delete
                </button>
           </td>
		  <td><input id="file1" type="file" style="display: none;" class="col-sm-4"/>
                <button class="input_file" value="Browse..." onclick="document.getElementById('file1').click();">Browse ...
                </button>
                <button value="Delete" ng-click="myReset(1)">Delete
                </button>
          </td>
		  <td><input id="file2" type="file" style="display: none;" class="col-sm-4"/>
                <button class="input_file" value="Browse..." onclick="document.getElementById('file2').click();">Browse ...
                </button>
                <button value="Delete" ng-click="myReset(2)">Delete
                </button>
          </td>
	   </tr>
	   <tr>
		  <td><div><img id="img0" ng-model="img0" src="{{file1}}" text-align="center" width="100%" height="100%"/></div></td>
		  <td><div><img id="img1" ng-model="img1" src="{{file2}}" text-align="center" width="100%" height="100%"/></div></td>
		  <td><div><img id="img2" ng-model="img2" src="{{file3}}" text-align="center"width="100%" height="100%"/></div></td>
	   </tr>
	   </tbody>
    </table>
        <input class="button" type="submit" id="submit" ng-click="modifyModel()" value="Valider">
      </form>
  </div>
</div>