<div ng-app="modelFinderApp">
  <div ng-controller="DetailStudentCtrl">

    <h1>Editer l'étudiant</h1>
    <div class="card">
      <form novalidate class="css-form">
        <p>
          Prénom : <input type="text" ng-model="student.firstName" required>
        </p>
        <p>
          Nom : <input type="text" ng-model="student.lastName" required>
        </p>
        <p>
          Mail : <input type="text" ng-model="student.mail" required>
        </p>
        <p>
          Date de naissance : <input type="date" ng-model="student.birthDate" required>
        </p>
       <button class="button" type="submit" ng-click="modifyStudent()">Valider</button>
      </form>
    </div>
  </div>
</div>

  

