<div ng-app="modelFinderApp">
  <div ng-controller="DetailStudentCtrl">

    <h1 class="titre">Editer son profil</h1>
    <div class="card">
      <form novalidate class="css-form">
        <p>
          Prénom : <input type="text" ng-model="student.firstName" required>
        </p>
        <p>
          Nom : <input type="text" ng-model="student.lastName" required>
        </p>
        <p>
          Mail : <input type="text" ng-model="user.mail" required>
        </p>
        <p>
          Date de naissance : <input type="date" ng-model="student.birthDate" required>
        </p>
        <p> Mot de Passe:
        <input type="password" ng-model="password">
      </p>
      <p> Confirmation de Mot de Passe:
        <input type="password" ng-model="passwordConf"> {{passwordError}}
      </p>
       <button class="button" type="submit" ng-click="checkPwdModify(password,passwordConf)">Valider</button>
      </form>
    </div>
  </div>
</div>