<div ng-app="modelFinderApp">
  <div ng-controller="SuggestionModelCtrl">
    <h1 class="titre">Suggestion de modèles</h1>


    <div class="center">{{noSuggestion}}</div>
    <div class="container-fluid">
      <div class="card" class="row" ng-repeat="model in message | limitTo:5">
        <table class="list">
	       <tbody>
            <tr>   
	           <td>
		          <div><img src="{{model.modelPhoto[0].file}}" border="0" width="100px" height="100px"></div>
	           </td>
                <td>
                    <div style="font-size:15px; font-weight:bold; cursor:pointer;" ng-click="go('/models/'+model.id+'/show')">
                    {{model.name}} {{model.lastName}}<br/>
                    </div>
                    <div>
                    {{calculerAge(model.dateOfBirth)}} ans<br/>
                    {{model.height}} cm<br/>
                    </div>
                </td>
            </tr>   
            </tbody>
        </table>
          </div>
        </div>
      </div>
    </div>


